.bg-theme-cus {
  background-color: #E60965;
  border-color: #E60965;
  color: white !important;
}

.bg-theme-cus:hover {
  background-color: #bf075d;
  border-color: #bf075d;
  color: white !important;
}

.bg-theme-cus:active, .bg-theme-cus:checked, .bg-theme-cus:focus {
  background-color: #E60965;
  border-color: #E60965;
  color: white !important;
}

.loading-overlay {
  display: none;
  background: rgba( 26, 26, 26, 0.1);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
}

.loading-overlay-image-container {
  display: none;
  position: fixed;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

.loading-overlay-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.text-theme-cus {
  color: rgba(230, 9, 101, 1) !important;
}

.btn-outline-cus {
  color: #E60965;
  border-color: #E60965;
}
.btn-outline-cus:hover {
  color: #fff;
  background-color: #E60965;
  border-color: #E60965;
}
.btn-check:focus + .btn-outline-cus, .btn-outline-cus:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(230, 9, 101, 1);
  box-shadow: 0 0 0 0 rgba(230, 9, 101, 1);
}
.btn-check:checked + .btn-outline-cus, .btn-check:active + .btn-outline-cus, .btn-outline-cus:active, .btn-outline-cus.active, .btn-outline-cus.dropdown-toggle.show {
  color: #fff;
  background-color: #E60965;
  border-color: #E60965;
}
.btn-check:checked + .btn-outline-cus:focus, .btn-check:active + .btn-outline-cus:focus, .btn-outline-cus:active:focus, .btn-outline-cus.active:focus, .btn-outline-cus.dropdown-toggle.show:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0 rgba(230, 9, 101, 1);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0 rgba(230, 9, 101, 1);
}
.btn-outline-cus:disabled, .btn-outline-cus.disabled {
  color: #E60965;
  background-color: transparent;
}